.product-main-container::before,.single-contaianer::before,.subsingle-container::before{
    content: "";
    display: table;
}
.product-main-container::after,.single-contaianer::after,.subsingle-container::after{
    content: "";
    display: table;
    clear: both;
}

.product-main-container{
    width: 100%;
    position: relative;
}
.single-contaianer{
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    float: left;    
}
.single-contaianer h2{
    text-align: center;
}
.subsingle-container{
    width: 100%;
    background-color:aliceblue;
    padding: 10px;
    box-sizing: border-box;
}
.final-single-cont{
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.link-cont{
    width: 100%;
    text-decoration: none;
    color: #000;
}
.link-img-cont{
    width: 100%;
}