<div class="product-main-container">
    <div class="single-contaianer">
        
        <div class="subsingle-container">
            <h2>Upgrade your home | Amazon Brands & more</h2>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
        <div class="subsingle-container">   
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/laptop.jpg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
    </div>
    <div class="single-contaianer">
        <div class="subsingle-container">
            <h2>Pay your credit card bills on Amazon</h2>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
        <div class="subsingle-container">   
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/laptop.jpg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
    </div>
    <div class="single-contaianer">        
        <div class="subsingle-container">
            <h2>Automotive essentials | Up to 60% off</h2>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
        <div class="subsingle-container">   
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/laptop.jpg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
    </div>
    <div class="single-contaianer">
        
        <div class="subsingle-container">
            <h2>Sign in for your best experience ever noticed</h2>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
        <div class="subsingle-container">   
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/kitchen.jpeg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
            <div class="final-single-cont">
                <a href="" class="link-cont">
                    <img src="assets/images/laptop.jpg" class="link-img-cont">
                    <p>Rs.500.00-Rs.1,000.00</p>
                </a>
            </div>
        </div>
    </div>
</div>