<div class="main-cont">
    <div class="signin-header">
        <h2>Get Ready to Sign in</h2>
    </div>
    <div class="signin-content">
        <label>Email or Mobile Phone number</label>
        <input type="text" placeholder="User Name or Phone no" id="firstname" class="input-field"/>
    </div>
    <div class="submit-cont">
        <a [routerLink]="'create-account'" class="submitbtn">
            Submit
        </a>
    </div>
    <div class="signin-content">
        <p>By continuing, you agree to Amazon's <a href="">Conditions of Use</a>  and <a href="">Notice.</a> </p>

    </div>
    <div class="signin-content">
        <a href="">Need?</a>
    </div>
    <div class="submit-cont">
        <a [routerLink]="'create-account'" class="submitbtn">
            Create Your Amazon Account
        </a>
    </div>
</div>

